* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background: #f4f4f4;
  margin: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

/* Main Content */
.main-content {
  /* Відступ для того, щоб основний контент не перекривав сайдбар */
  padding: 20px;
  margin-right: 0;
  transition: 0.3s ease-in-out;
  margin-left: 250px;
  width: calc(100% - 250px);
  /* Залишок екрану для контенту */
}

.topbar {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1;
  display: block;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  background: #012b65;
  border-radius: 20px;
}
.hero .hero-images {
  width: 100%; /* Розтягуємо контейнер із зображенням на всю ширину */
  max-width: 99%; /* Залишаємо невеликий відступ від країв */
  text-align: center; /* Центруємо вміст */
}

.hero .hero-images img {
  border-radius: 20px;
  padding-top: 5px;
  height: 290px; /* Залишаємо висоту як у вашому коді */
  width: 100%; /* Розтягуємо зображення по ширині */
  object-fit: cover; /* Зберігаємо пропорції, обрізаючи зайве */
  max-width: 100%; /* Переконуємося, що зображення не виходить за контейнер */
}

/* Join Now Section */
.mini-banner {
  background: linear-gradient(135deg, #6538cf 0%, #bc68a4 100%);
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  margin: 30px auto;
  overflow: hidden;
}

.mini-banner-img img {
  max-height: 100px;
  height: auto;
  width: auto;
}

.mini-banner-content {
  flex-grow: 1;
  color: #333;
  text-align: center; /* Центруємо текст горизонтально */
}

.mini-banner-content h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 900; /* дуже жирний шрифт */
  color: #000000; /* чорний колір */
}

.mini-banner-content p {
  font-size: 14px;
  margin: 5px 0 0;
}

.mini-signup-btn {
  background: linear-gradient(to right, #8e2de2, #4a00e0, #00c6ff);
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  transition: 0.3s ease;
}

.mini-signup-btn:hover {
  background: linear-gradient(to right, #7a1fd1, #00b0e5);
}

.agent-category-container {
  display: flex;
  justify-content: center;  /* Центрує по горизонталі */
  align-items: center;      /* Центрує по вертикалі */
  height: 18vh;            /* Робить контейнер висотою в 100% від вікна */
}

.agent-category-text {
  font-size: 42px;         /* Розмір шрифту */
  font-weight: bold;       /* Жирний шрифт */
  color: #ffffff;            /* Білий колір тексту */
  background: linear-gradient(to right, #8e2de2, #4a00e0, #00c6ff);
  padding: 10px 20px;
  border-radius: 20px;
  border: #e2e7e7;
}
.agent-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.agent {
  width: 22%;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background: linear-gradient(to right, #000000, #321eb6);
}

.agent img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.agent ul {
  list-style: none;
  padding: 0;
}

.agent ul li {
  font-size: 14px;
  font-weight: bold;
  color: #b9b4b4;
}

.agent ul li:first-child {
  font-size: 18px;
  color: #eeb006;
}

.alert {
  background: #fff3cd;
  color: #856404;
  padding: 12px;
  border-radius: 8px;
  max-width: 400px;
  font-size: 14px;
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column;
    padding: 20px;
  }

  .hero .hero-images {
    flex-direction: column;
    align-items: center;
  }

  .hero-text h1 {
    font-size: 28px;
  }

  .join-now {
    padding: 20px;
  }

  .signup-btn {
    font-size: 14px;
  }
}

/* Стилі для кнопки */
.join-now {
  background: linear-gradient(90deg, #7a4dfc, #51c9ff);
  padding: 30px;
  margin-top: 40px;
  border-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-now h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.join-now p {
  font-size: 18px;
}

.signup-btn {
  background: #fff;
  color: #7a4dfc;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none; /* Без підкреслення */
  text-align: center;
}

.signup-btn:hover {
  background: #7a4dfc;
  color: white;
}

/* Задній фон home*/
body {
  background: linear-gradient(135deg, #24314f, #1151b9, #2559a2);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s ease-in-out;
}

a {
  cursor: pointer; /* Задає курсор "рука" при наведенні */
}

.login-btn {
  background: linear-gradient(to right, #8e2de2, #4a00e0, #00c6ff);
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}
.login-btn:hover {
  background: linear-gradient(to right, #7a1fd1, #00b0e5);
}

@media (max-width: 1024px) {
  .sidebar {
    width: 120px;
    /* Задаємо ширину сайдбару на мобільних */
    height: 100vh;
    /* Висота сайдбару на мобільних пристроях буде 100% */
    padding: 10px !important;
  }
  .sidebar-nav {
    display: flex;
    flex-direction: column;

  }

  .main-content {
    margin-left: 120px;
    padding: 15px;
    width: calc(100% - 120px);
  }

  .logo-icon {
  width: 25px !important;
  height: 25px !important;
  margin-top: 3%;
  object-fit: contain;
  border-radius: 25%;
  }

  .brand {
    font-size: 7px;
  }

  .dot {font-size: 7px;}

  .invest {font-size: 7px;}

  .link {
  font-size: 6px !important;
  }
.user-panel {
  height: 180px;
  padding: 15px 0px 0px 10px !important;
}
 .fa-user-circle {
 font-size: 17px !important;
}
  .user-info  {
    font-size: 7px;
    flex-direction: row;
    align-items: flex-start;
  }
  #balance {
    font-size: 8px !important;
    padding: 0% !important;
  }
  strong {
    font-size: 10px !important;
    padding: 0% !important;
  }
  .sidebar-inner-button {
    font-size: 8px !important;
    padding: 0% !important;

  }
  .nav-item {
    font-weight: 150px !important;
    font-size: 12px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

.share   {
  height: calc(100% + 200px) !important;
  margin-top: 40%;
  gap: 1px !important;
  display: block !important;
}
.share p {
  font-size: 10px !important;
}
.share-icons .fa-telegram,
.share-icons .fa-youtube,
.share-icons .fa-whatsapp{



  font-size: 10px !important;
}

  .hero-images img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

/* 🔥 Адаптація для планшетів і мобілок (до 768px) */
@media (max-width: 768px) {
  .sidebar {
    width: 180px;
    /* Задаємо ширину сайдбару на мобільних */
    height: 100vh;
    /* Висота сайдбару на мобільних пристроях буде 100% */
    padding: 15px;/
  }

  .main-content {
    margin-left: 180px;
    padding: 15px;
    width: calc(100% - 180px);
  }

  .logo-icon {
  width: 40px !important;
  height: 40px !important;
  margin-top: 3%;
  object-fit: contain;
  border-radius: 25%;
  }
  .brand {
    font-size: 10px;
  }

  .dot {font-size: 10px;}

  .invest {font-size: 10px;}

  .link {
  font-size: 10px !important;
  }

  .user-info {
    gap: 6px;
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-item {
    font-weight: 300px !important;
    font-size: 16px !important;
    margin-top: 10px !important;
    margin-bottom: 5px !important;
  }


  .hero-images img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

}

}
/* 📱 Адаптація для дуже малих екранів (до 480px) */
@media (max-width: 480px) {
  .sidebar {
    width: 120px;
    /* Задаємо ширину сайдбару на мобільних */
    height: 100vh;
    /* Висота сайдбару на мобільних пристроях буде 100% */
    padding: 15px;/
  }
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    margin-top: -62vh !important;
  }

  .main-content {
    margin-left: 120px;
    padding: 15px;
    width: calc(100% - 120px);
  }

  .logo-icon {
  width: 25px !important;
  height: 25px !important;
  margin-top: 3%;
  object-fit: contain;
  border-radius: 25%;
  }

  .brand {
    font-size: 7px;
  }

  .dot {font-size: 7px;}

  .invest {font-size: 7px;}

  .link {
  font-size: 6px !important;
  }
.user-panel {
  height: 180px;
  padding: 15px 0px 0px 10px !important;
}
 .fa-user-circle {
 font-size: 15px !important;
}
  .user-info  {
    font-size: 7px;
    flex-direction: row;
    align-items: flex-start;
  }
  #balance {
    font-size: 8px !important;
    padding: 0% !important;
  }
  strong {
    font-size: 10px !important;
    padding: 0% !important;
  }
  .sidebar-inner-button {
    font-size: 8px !important;
    padding: 0% !important;

  }
  .nav-item {
    font-weight: 150px !important;
    font-size: 10px !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }

.share   {
  height: calc(100% + 200px) !important;
  margin-top: 100%;
  gap: 1px !important;
  display: block !important;
}
.share p {
  font-size: 10px !important;
}
.share-icons .fa-telegram,
.share-icons .fa-youtube,
.share-icons .fa-whatsapp{



  font-size: 10px !important;
}

  .hero-images img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
  }

}